* {
    box-sizing: border-box;
}

:root {
    --grid-size: 16; /* Default grid size */
    --cell-size: calc(100% / var(--grid-size));
  }

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex : 1 0 var(--cell-size);
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.flex-item:hover {
    background-color: #874949;
}